.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: #f2f2f2;
  align-items: center;
  padding: 40px;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  height: auto;
}

.cartCheckoutDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.cartCheckoutDiv > label {
  font-size: medium;
  font-weight: 600;
  font-style: normal;
  color: #999999;
  cursor: pointer;
}

.cartCheckoutDiv > span {
  font-size: medium;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.shipping {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.shippingLabel {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.shippingLabel > h6 {
  font-size: medium;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  padding: 20px;
}

.orderRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 700px) {
  .bodyDiv {
    width: 80%;
  }
  .container {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .bodyDiv {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .bodyDiv {
    width: 100%;
  }
  .container {
    padding: 10px;
  }
}
