.container {
  display: grid;
  grid-template-columns: 1fr 5fr; /* box1:box2-4 width ratio */
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box1 box2"
    "box1 box2"
    "box1 box2"
    "box1 box2";
  height: 100vh;
  gap: 1em;
  padding-right: 40px;
  justify-content: start;
  width: 100%;
  margin-top: -80px;
}

.box1 {
  grid-area: box1;
  background: #fff;
  height: 100%;
  overflow: auto;
}
.box2 {
  grid-area: box2;
  background: #fff;
  height: 100%;
  overflow: auto;
  /* max-height: calc(100vh / 5); */
  padding-top: 10px;
}
.box3 {
  grid-area: box3;
  background: green;
  height: 100%;
  overflow: auto;
  /* max-height: calc((100vh / 5) * 2); */
}
.box4 {
  grid-area: box4;
  background: purple;
  height: 100%;
  overflow: auto;
  /* max-height: calc((100vh / 5) * 2); */
}
