.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  background: #fff;
  height: 400px;
  border-radius: 16px;
  padding: 15px;
}

.container:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 350px; /* control height here */
  overflow: hidden;
}

.container label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  z-index: 5;
}

.container p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #9999ff;
  z-index: 5;
}

@media (min-width: 700px) {
  .container {
    max-width: 400px;
  }
}
