@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-smm: 340px;
  --breakpoint-smx: 400px;
  --breakpoint-sm: 480px;
  --breakpoint-sms: 550px;
  --breakpoint-ms: 600px;
  --breakpoint-mn: 640px;
  --breakpoint-md: 768px;
  --breakpoint-mdx: 760px;
  --breakpoint-mdd: 800px;
  --breakpoint-xlg: 860px;
  --breakpoint-slg: 870px;
  --breakpoint-lg: 976px;
  --breakpoint-lgx: 1040px;
  --breakpoint-sl: 1280px;
  --breakpoint-xl: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @import "tailwindcss/preflight";
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.error {
  background-color: #ffebee;
  border-left: 4px solid #f44336;
} */
