.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  background: #fff;
  padding-top: 30px;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 2em;
  grid-template-areas:
    "box1 box1 box1 box2 box2 box2 box2"
    "box3 box3 box3 box3 box3 box3 box3"
    "box3 box3 box3 box3 box3 box3 box3"
    "box4 box4 box5 box5 box5 box5 box5"
    "box4 box4 box5 box5 box5 box5 box5";
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

@media (max-width: 900px) {
  .body {
    grid-template-areas:
      "box1 box1 box1 box1 box2 box2 box2"
      "box3 box3 box3 box3 box3 box3 box3"
      "box4 box4 box4 box5 box5 box5 box5"
      "box4 box4 box4 box5 box5 box5 box5";
  }
}
@media (max-width: 600px) {
  .body {
    grid-template-areas:
      "box1 box1 box1 box1 box1 box1 box1"
      "box2 box2 box2 box2 box2 box2 box2"
      "box3 box3 box3 box3 box3 box3 box3"
      "box5 box5 box5 box5 box5 box5 box5"
      "box4 box4 box4 box4 box4 box4 box4";
  }
}
